{% extends "base.html" %}

{% block style %}

{% endblock style %}


{% block content %}
<h1>My Seller Products</h1>
<table>

	{% for instance in product_list %}
    <tr class="">
    	<td>
    		{{ instance.id }}
    	</td>
    	<td>
    		<a href='{{ instance.get_absolute_url }}'>{{ instance.name }}</a>
    	</td>
    	<td>
    	{% if instance.get_featured_image %}
    	<a href='{{ instance.get_absolute_url }}'>

    		<img src='{{ MEDIA_URL }}media/{{ product.get_featured_image }}' style='max-width:100px'/></a><br/>
    	{% endif %}
    	</td>
    	<td>{{ instance.price }}
    	</td>
    	<td><a href='{{ instance.get_edit_url }}'>Edit</a> | <a href="#">Delete</a>
    	</td>
</table>

{% endfor %}
{% endblock %}
